requests
beautifulsoup4
numpy
pickle-mixin
python-dotenv
pinecone
langchain
google-generativeai
transformers
langchain-huggingface
langchain-pinecone
langchain-google-genai
langchain-community
streamlit
bert-score
langchain-core
ragas
ipykernel
langchain-groq